input {
	tcp {
		host => "0.0.0.0"
		port => 1337
		codec => "json"
	}
}

filter {
	if "_jsonparsefailure" in [tags] {
		mutate {
			gsub => ["message", "[\\]", ""]
		}

		grok { 
	        match => { "message" => "^.*?(?<json>{.*?})" } 
	        match => { "json" => "^.*?(?<process>{.*?})" } 
	    }

	    if "_grokparsefailure" in [tags] {
	    	drop {}
	    }

        json {
	        source => "json"
	        remove_field => ["json"]
	        remove_field => ["message"]
	        remove_tag => ["_jsonparsefailure"]
	    }
	}
}

output {
	if [INDEX] == "EVENT" {
		elasticsearch {
			hosts => "10.10.20.10:9200"
			index => "events"
		}
	} else if [INDEX] == "ERROR" {
		elasticsearch {
			hosts => "10.10.20.10:9200"
			index => "errors"
		}
	} else if [INDEX] == "METRIC" {
		elasticsearch {
			hosts => "10.10.20.10:9200"
			index => "metrics"
		}
	}
}